.navbar {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0rem;
}
 
.navbar_logo_wrapper {
  width: 100px;
  height: 45px;
}

.navbar_logo_img {
  height: 100%;
}

.rightsidenav {
  display: flex;
  list-style: none;
  margin: 0;
 
}
.rightsidenav_item{
  margin: 0 10px;
}
.navbar_icons {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    transition: all .5s;
}

.navbar_icons:hover {
    color: #ed0000;
    transition: all .5s;
}

.centerd{
   display: flex;
   flex-direction: row;
   
  
}
.toggle-menu{
  
  display: none;
  order: 1;
}
#check{
  display: none;
}
/* .centerd .rightsidenav_item{
    margin: 0 10px;
    padding: 10px;
} */

@media (max-width: 768px) {
  
  .centerd{
    display: none;
  
  }
  .rightsidenav_item{
    margin: 10px;
  }
  .toggle-menu{
    
    display: block;
    float: right;
  }
  
  #check:checked ~ ul.centerd{
       background-color: black;
    position: fixed;
    top: 10vh;
    left: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  }