/*  */
.shopImageMain {
  width: 70%;
  max-height: 300px;
  height: 300px;
  object-fit: cover;
  background-color: "#fff";
  /* object-fit: contain; */
  cursor: pointer;
  margin:20px 0;
}
.alt-imgs{
  margin:10px;
}
.shopul {
  list-style: none;
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.shopul li {
  margin: 10px;
  cursor: pointer;
  color: #fff;
}

.shopul li.not {
  color: #aaa;
  text-decoration: line-through;
}

.product_name_shop {
  font-size: 1.8rem;
  font-family: "Prata", serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
  max-width: 100%;
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.product_name2_shop {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
  max-width: 100%;
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.shop_price {
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
}



.catagories{

  padding:20px;
  margin:10px 50px;
 padding-top:60px;
}
 /* .row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
 } */